.max-width-container.container-fluid {
	max-width: 1342px;
	padding:0em 3em;
	/* margin: 0 auto;  */
	/* padding: 10em;  */
}

a{
	color: inherit !important;
}

footer, nav{
    --bs-bg-opacity: 1;
    background-color: #f4f4f4 !important;
}

footer a{
	text-decoration: none;
}
