.max-width-container.container-fluid {
	max-width: 1342px;
	padding:0em 3em;
	/* margin: 0 auto;  */
	/* padding: 10em;  */
}

a{
	color: inherit !important;
}

footer{
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity)) !important;
}