<!DOCTYPE html>
<html>
<head>
		<title>{{.Org}} Status</title>
		<link rel="stylesheet" type="text/css" href="/static/css/styles.css">
		<link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
</head>
<body>
		<div id="title">
			<img src="{{ .Logo }}" width=100px height=100px style="padding-right:20px;">
			<h1> {{.Org}} Status</h1>
		</div>
		{{with .CurrentStatus}}
		<div id="currentStatus" style="background-color:{{.Background}}">
			<div id="currentStatusText">
			{{.Text}}
			</div>
			<div id="currentStatusMetadata">
				<div>
				{{.TimeStamp}}
				</div>
				<div>
				Posted by {{.SentBy}}
				</div>
			</div>
		</div>
		{{end}}

		{{with .PinnedStatuses}}
		<ul>
			{{range .}}
		<div id="pinnedStatus" style="border-color:{{.Background}}">
			<div id="updateText">
			{{.Text}}
			</div>
			<div id="currentStatusMetadata">
				<div>
				{{.TimeStamp}}
				</div>
				<div>
				Posted by {{.SentBy}}
				</div>
			</div>
		</div>
			{{end}}
		</ul>
		{{end}}
		
		<h2 style="margin: 10px 20% 10px">Previous Statuses</h2>
		<div id="oldUpdates">
			{{with .StatusUpdates}}
				<ul>
				{{range .}}
				<li id="oldUpdate">
					<div id="oldMetadata">
						<div>{{.TimeStamp}}</div><div>posted by {{.SentBy}}</div>
					</div>
					<div>
						{{.Text}}
					</div>
				</li>
				<!--<li id="oldUpdate"><div><div id="oldMetadata">{{.TimeStamp}}:</div> {{.Text}}</div> <div id="oldMetadata">(posted by {{.SentBy}})</div></li>-->
				{{end}}
			</ul>
			{{end}}
		</div>

		<div class="shilling"><p><a href="https://github.com/willnilges/cursed-status-page">This is a Cursed Status Page</a></p></div>

</body>
</html>
