<!DOCTYPE html>
<html>
<head>
		<title>{{.Org}} Status</title>
		<link rel="stylesheet" type="text/css" href="/static/css/styles.css">
		<link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
</head>
<body>

		<div id="title">
				<h1>{{.Org}} Status Updates</h1>
		</div>
		{{ with .StatusUpdates}}
		<ul>
		{{range .}}
		<li style="background-color:{{.Background}}">
				<div id="timestamp">
						{{.TimeStamp}}
				</div>
				<div id="updateText">
				{{.Text}}
				</div>
				<p>
				Posted by {{.SentBy}}
				</p>
		</li>
		{{end}}
		</ul>
		{{end}}

</body>
</html>
